
@{
    ViewBag.Title = "About";
}


<h1> Hi, this is @ViewBag.info["Name"]</h1>
<h3> My id is @ViewBag.info["Id"]</h3>
<h3> And i am from @ViewBag.info["Department"]</h3>
<h3> Connect me on @ViewBag.info["Email"]</h3>
