
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<ul>
    <li>SSC from M.S.S.H. School passed in 2017</li>
    <li>HSC from GSC passed in 2019</li>
    <li>B.sc in CSE [current]</li>
</ul>

