
@{
    ViewBag.Title = "Projects";
}

<h2>Projects Lists :</h2>

@foreach (var projects in ViewBag.projects_list)
            {
                <li>@projects["Name"]</li>
                <ol>@projects["GitLink"]</ol>
            }


