
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="/Student/CreateSubmission" method="post">
    Name: <input type="text" name="Name" class="form-control" />
    Id: <input type="text" name="Id" class="form-control" />
    CGPA: <input type="text" name="Cgpa" class="form-control" />
    <input type="submit" Value="Add" class="btn btn-block" />
</form>
