@model BulkyProject.Models.Category

<h4 class="text-primary">Category</h4>
<hr />
<div class="row">
    <div class="col-md-6 row">
        <form asp-action="Delete">
            <input asp-for="Id" hidden />
            <div class="form-group">
                <label asp-for="Name" class="p-0"></label>
                <input asp-for="Name" disabled class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DisplayOrder" class="control-label"></label>
                <input asp-for="DisplayOrder" disabled class="form-control" />
            </div>
            <div class="row">
                <div class="col-6 col-md-3 text-end">
                    <div class="form-group pt-2">
                        <button type="submit" value="Delete" class="btn btn-danger" style="width:150px">
                            Delete Record
                        </button>
                    </div>
                </div>
                <div class="col-6 col-md-3 pt-2 text-begin">
                    <a asp-controller="Category" asp-action="Index" class="btn btn-primary" style="width:150px">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>




